.custom-arrow {
  position: absolute;
  top: 46%;
  z-index: 1;
  /* สไตล์อื่น ๆ ที่คุณต้องการให้ปุ่มก่อนหน้าและปุ่มถัดไปแสดงผล */
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: #636363;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.custom-prev-arrow img {
  width: 50%; /* ลดความกว้างเหลือ 50% */
  height: 50%; /* ลดความสูงเหลือ 50% */
  object-fit: contain; /* ปรับขนาดรูปภาพให้พอดีกับขนาดปุ่มและรักษาอัตราส่วนของภาพ */
  display: block; /* จัดให้รูปภาพอยู่ตรงกลางของปุ่ม */
  margin: 0 auto; /* จัดให้รูปภาพอยู่ตรงกลางของปุ่ม */
  position: relative; /* เพื่อให้สามารถเปลี่ยนตำแหน่งของรูปภาพได้ */
  top: 27%; /* ย้ายรูปภาพลงมาด้านล่างทีละ 50% */
}

.custom-next-arrow img {
  width: 50%; /* ลดความกว้างเหลือ 50% */
  height: 50%; /* ลดความสูงเหลือ 50% */
  object-fit: contain; /* ปรับขนาดรูปภาพให้พอดีกับขนาดปุ่มและรักษาอัตราส่วนของภาพ */
  display: block; /* จัดให้รูปภาพอยู่ตรงกลางของปุ่ม */
  margin: 0 auto; /* จัดให้รูปภาพอยู่ตรงกลางของปุ่ม */
  position: relative; /* เพื่อให้สามารถเปลี่ยนตำแหน่งของรูปภาพได้ */
  top: 27%; /* ย้ายรูปภาพลงมาด้านล่างทีละ 50% */
}

.custom-prev-arrow {
  left: 35px;
}

.custom-next-arrow {
  right: 35px;
}

.custom-arrow:hover {
  /* สไตล์ที่คุณต้องการเมื่อมีการ hover */
  /* เช่น เปลี่ยนสีพื้นหลังหรือสีตัวอักษร */
  background-color: #000000;
}
